# <center> Data Warehouse Project <center/>
<center> DLBDSEBI02 - Business Intelligence's Project <center/>
<center> IU International University of Applied Sciences <center/>

# Aim
The aim of this project is to design an optimal Business Intelligence (BI) architecture by developing a Data Warehouse (DWH) system. This involves identifying source systems, such as operational and departmental systems, to provide data for the DWH. A suitable DWH architecture will be proposed by evaluating different variants and discussing their pros and cons. Additionally, one key performance indicator (KPI) will be selected, and the required Extract, Transform, Load (ETL) process will be explained. The goal is to enhance transparency, implement KPIs, and reduce manual data consolidation across departments.

### List of contents :
1. _Introduction_
2. _Designing the Data Warehouse_
3. _Aggregating the data_
4. _Visualization_
5. _Summary_

### 1. Introduction

### 2. The Data Warehouse Architecture

### 3. Aggregating the Data

### 4. Visualizing the Data

### 5. Summary

Importing the required libraries

In [1]:
# Importing libraries
import sqlite3
import pandas as pd

In [18]:
df = pd.read_csv('finalissima.csv')
df.head()

,transaction_id,quantity,transaction_amount,product_description,unit_price,date,year,quarter,quarter_name,month,...,customer_first_name,customer_last_name,customer_mail,zip_code,street,city,country,latitude,longitude,invoice_amount
0,1,1,5.91,FRENCH ENAMEL POT W LID,5.91,05/01/2022,2022.0,1.0,Q1,1.0,...,Liam,Scott,Liam.Scott@mail.com,649040.0,Oak Street,Lyon,France,45.7589,4.8414,2190.46
1,2,4,43.80,REGENCY CAKESTAND 3 TIER,10.95,27/11/2022,2022.0,4.0,Q4,11.0,...,Liam,Lopez,Liam.Lopez@mail.com,176664.0,Prospect Street,Rome,Italy,41.8931,12.4828,1682.55
2,3,9,18.90,CHRISTMAS CRAFT TREE TOP ANGEL,2.10,15/12/2022,2022.0,4.0,Q4,12.0,...,Olivia,Thompson,Olivia.Thompson@mail.com,369830.0,Cottonwood Drive,Glasgow,United Kingdom,55.8611,-4.25,2190.19
3,4,5,3.60,NATURAL HANGING QUILTED HEARTS,0.72,27/08/2022,2022.0,3.0,Q3,8.0,...,Victoria,Martinez,Victoria.Martinez@mail.com,800400.0,Orchard Lane,Porto,Portugal,41.1495,-8.6108,2129.98
4,5,9,14.85,BLUE PAISLEY NOTEBOOK,1.65,05/07/2022,2022.0,3.0,Q3,7.0,...,Riley,Perez,Riley.Perez@mail.com,987072.0,Highland Drive,Cologne,Germany,50.9422,6.9578,2378.33